{% extends "base.html" %} {% block content %}

<div class="mypet_profile">
  <head>
    <title>Pet Profile</title>
  </head>

  <body>
    <h1 class="pet-info">Pet Profile</h1>

    <!-- Pet jpg -->
    <img
      class="pet-image"
      src="https://www.purina.com/sites/default/files/styles/kraken_generic_max_width_240/public/ManxSH_body_6.jpg?itok=pckG_ls2"
      alt="Nokdu"
    />

    <!-- Pet info -->
    <h2 class="pet-info">Nokdu</h2>
    <p class="pet-info">2 years old</p>
    <p class="pet-info">Breed: Unknown</p>
    <p class="pet-info">Description: Cute</p>
  </body>
</div>
{% endblock %}
